h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.topNav,
.hostEvents {
    background-color: $bkgColor1;
}

.planLocationsContainer,
.hostEventsImgContainer {
    background-color: $bkgColor2;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

.button {
    background-color: $buttonColor;
    padding: 5px 30px;
    font-family: $headingText;
    letter-spacing: 2px;
    margin-bottom: 80px;
}

.topNav p,
.planLocationsContainer p,
.hostEvents p {
    margin-bottom: 20px;
    text-align: justify;

}

.contactTitle,
.blogTitle {
    font-family: $bodyText;
    @include fontSize(90);
    color: $white;
}
