.blogPage {
    margin-bottom: 2500px;
}

.blogHeader {
    background-image: url(../assets/blog-header-1.jpg);
    min-height: 75vh;
    display: flex;
    background-position: center;

    .wrapper {
        display: flex;
        align-items: center;
    }
}

.blogPost {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 550px;
    right: 0;

        .newMenuPic {
            height: 60vh;
            object-fit: cover;
            box-shadow: -20px 20px $logoColor;
        }

        .blogPostContentContainer {
            border-left: 4px solid $logoColor;
            border-bottom: 4px solid $logoColor;
            position: relative;
            right: 20px;
            padding: 100px 40px 60px 100px;

            p {
                padding-bottom: 30px;

                &.date {
                    line-height: 0;
                    padding-top: 10px;
                }
            }
        }
}

.comments {
    display: flex;
    flex-direction: column;

    h3 {
        margin: 50px 0 20px;
    }

    li {
        position: relative;
        margin-left: 100px;
        margin-bottom: 80px;
    }

    img {
        position: absolute;
        left: -100px;
        top: 10px;
        width: 10%;
    }
}

.commentForm {
    display: flex;
    flex-wrap: wrap;

    #name,
    #email {
        width: calc(50% - 30px);
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $logoColor;
        margin-bottom: 50px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    #name {
        margin-right: 15px;
    }
    
    #email {
        margin-left: 15px;
    }
    
    #comment,
    .button {
        width: calc(100% - 30px);
    }
    
    #comment {
        padding-left: 20px;
        padding-top: 40px;
        resize: none;
        margin-bottom: 50px;
        border: 2px solid $logoColor;
    }
    
    .button {
        border: none;
        margin: 0 0 50px 0;
        color: $white;
    }

    #name,
    #email,
    #comment {
        background-color: transparent;
        color: $white;
    
        &::placeholder {
            opacity: 1;
            font-family: $bodyText;
        }
    }
}

.date {
    color: $logoColor;
}

.blogAside {
    width: 40%;
    position: relative;

    img {
        z-index: 10;
    }

    .bkgBox {
        width: 400px;
        height: 830px;
        background-color: $bkgColor2;
        position: absolute;
        top: 15px;
        left: 70px;
        z-index: -1;

        .asideContentContainer {
            margin-top: 440px;

            .findOutMore {
                color: $logoColor;
                display: inline-block;
                margin-bottom: 20px;
            }
        }
    }

    .recentPosts li {
        margin: 0 0 0 40px;
        list-style: disc;
        color: $buttonColor;

        p {
            color: $white;
        }
    }


}
