.blogHeader {
    background-image: url(../assets/blog-header-1.jpg);
    min-height: 75vh;
    display: flex;
    background-position: center;

    .wrapper {
        display: flex;
        align-items: center;
    }
}

.blogPost {
    width: 60%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 550px;
    right: 0;

        .newMenuPic {
            height: 60vh;
            object-fit: cover;
            box-shadow: -20px 20px $logoColor;
        }
}

.blogAside {
    width: 30%;
}
