header {
    background-image: url(../assets/contact-header-1.jpg);
    min-height: 80vh;
}

address {
    font-style: normal;

    .socialBar {
        width: 10%;
        display: flex;
        justify-content: space-between;
        @include fontSize(20);
    }
}

form {
    display: flex;
    flex-wrap: wrap;

    #name,
    #email {
        width: 50%;
    }

    #message,
    .button {
        width: 100%;
    }
}
