.contactHeader {
    background-image: url(../assets/contact-header-1.jpg);
    min-height: 75vh;
    display: flex;
    background-position: center;

    .wrapper {
        display: flex;
        align-items: center;
    }
}

address {
    font-style: normal;

    .socialBar {
        width: 10%;
        display: flex;
        justify-content: space-between;
        @include fontSize(20);
    }
}

.contactForm {
    display: flex;
    flex-wrap: wrap;
    background-color: $bkgColor2;
    padding: 50px 50px 40px;
    box-shadow: 20px 20px $logoColor;
    position: absolute;
    right: 150px;
    top: 500px;
    width: 50%;

    #name,
    #email {
        width: calc(50% - 30px);
        border-bottom: 2px solid $white;
        border-top: none;
        border-right: none;
        border-left: none;
        margin-bottom: 50px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    #name {
        margin-right: 15px;
    }

    #email {
        margin-left: 15px;
    }

    #message,
    .button {
        width: calc(100% - 30px);
    }

    #message {
        padding-left: 20px;
        padding-top: 40px;
        resize: none;
        margin-bottom: 50px;
        border: 2px solid $white;
    }

    .button {
        border: none;
        margin: 0;
        color: $white;
        cursor: pointer;

        &:hover,
        &:focus {
            color: $buttonColor;
        }
    }

    #name,
    #email,
    #message {
        background-color: transparent;
        color: $white;

        &::placeholder {
            opacity: 1;
            font-family: $bodyText;
        }
    }
}

.contactAside {
    position: relative;
    margin: 100px 0 250px;

    a {
        transition: .3s;

        &:hover,
        &:focus {
            color: $logoColor
        }
    }
}
