header {
    background-image: url(../assets/home-image-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 80vh;

    .headerContentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 350px;

        h1,
        h2 {
            z-index: 9;
        }

        h2 {
            margin-top: -90px;
            margin-left: -230px;
        }
    }

    img {
        position: absolute;
        right: 0;
        bottom: -150px;
        max-height: 70vh;
    }


}