// Desktop adjustmesnts for screens around 1200px

// index styling

.topNav .wrapper ul {
    @include breakpoint(large) {
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;

        li {
            width: 100%;
        }
    }
}

.planLocationsContainer {
    @include breakpoint(large) {
        flex-direction: column;
    }

    .newLocations .wrapper {
        @include breakpoint(large) {
            h3 {
                margin-top: 50px;
            }
        }
    }

    .newLocations .wrapper,
    .planAhead .wrapper {
        @include breakpoint(large) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .newLocations img,
    .planAhead img {
        @include breakpoint(large) {
            position: static;
            display: block;
            margin: 0 auto;
        }
    }
}

// navbar breakpoints

.navBar,
.socialNav .socialIcons {
    @include breakpoint(medium) {
        visibility: hidden;
    }
}

.menu-wrap {
    @include breakpoint(medium) {
        visibility: visible;
    }
}

// mobile styling (tablet)

// contact page styling
.contactHeader,
.blogHeader {
    @include breakpoint(medium) {
        min-height: 40vh;

        .contactTitle,
        .blogTitle {
            width: 100%;
            text-align: center;
        }
    }
}

address {
    @include breakpoint(medium) {
        text-align: center;

        .socialBar {
            width: 50%;
            margin: 0 auto 40px;
        }
    }
}

.contactForm {
    @include breakpoint(medium) {
        margin-top: 20px;
        position: static;
        width: 100%;
    }
}

.contactAside {
    @include breakpoint(medium) {
        margin-bottom: 50px;
    }
}
// blog page stlying 

.blogPage {
    @include breakpoint(medium) {
        margin-bottom: 0;
    }
}

.blogAside {
    @include breakpoint(medium) {
        display: none;
    }
}

.blogPost {
    @include breakpoint(medium) {
        position: static;
        width: 100%;
        margin: 20px auto 0;

        .newMenuPic {
            width: 70%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        .blogPostContentContainer {
            position: static;
            border-left: none;
        }
    }
}

.hostEvents {
    @include breakpoint(medium) {
        .eventsContainer {
            .wrapper {
                display: flex;
                flex-direction: column;

                .eventsImgContainer {
                    width: 100%;
                    display: block;
                    text-align: center;

                    img {
                        box-shadow: -5px 5px #FF8327;
                        width: auto;
                    }
                }
            }
        }

        .eventsContentContainer {
            margin-left: 0;

            h3 {
                margin-top: 20px;
            }
        }

        .hostEventsImgContainer {
            .wrapper {
                ul {
                    flex-wrap: wrap;
                    justify-content: center;

                    li {
                        width: 45%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

// mobile styling (phones)

// index page styling

#top {
    @include breakpoint(small) {
        h1 {
            @include fontSize(150)
        }

        h2 {
            margin: 0;
        }

        img {
            display: none;
        }
    }
}

.planLocationsContainer {
    .newLocations,
    .planAhead {
        .wrapper {
            @include breakpoint(small) {
                width: 90%;
            }
        }
    }
}

.contactForm {
    @include breakpoint(small) {
        padding: 50px 0px 40px;
        box-shadow: 10px 10px #FF8327;

        #name {
            margin-right: 0;
        }

        #email {
            margin-left: 0;
        }

        #name,
        #email {
            width: 90%;
        }
    }
}

.blogPost {
    @include breakpoint (small) {
        .newMenuPic {
            width: 90%;
            box-shadow: -5px 5px #FF8327;
        }

        .blogPostContentContainer {
            padding: 50px 20px;
        }

        .comments {
            li {
                margin-left: 80px;
                margin-bottom: 60px;
            }

            img {
                left: -75px;
                width: 20%;
            }
        }

        .commentForm {
            justify-content: center;
            
            #name {
                margin-right: 0;
            }

            #email {
                margin-left: 0;
            }

            #name,
            #email {
                width: 90%;
            }
        }
    }
}