.navBar {
    position: fixed;
    top: 0;
    background-color: transparent;
    z-index: 10;
    width: 100%;

    .mainMenu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: $bodyText;
        text-transform: uppercase;
        @include fontSize(38);
        letter-spacing: 1.9px;

        & .logo {
            font-family: $headingText;
            @include fontSize(50);
            text-transform: none;
            letter-spacing: none;
        }
    }
}