html {
    font-size: 125%;
}

body {
    font-family: $bodyText;
    font-size: $baseFontSize;
    color: $white;
    background-color: black;
}

h1,
h2 {
    font-family: $headingText;
    margin: 0;
}

h1 {
    @include fontSize(261.4);
    letter-spacing: 2.4px;
    color: $logoColor;
}

h2 {
    @include fontSize(83.2);
    line-height: 94.7px;
    letter-spacing: 2.6px;
}

h3 {
    @include fontSize(68);
    line-height: 58px;
    letter-spacing: 2.2px;
}

a {
    color: $white;
}
