$logoColor: #FF8327;
$white: #FFFFFF;
$buttonColor: #BF2603;
$bkgColor1: #111010;
$bkgColor2: #220303;
$footerColor: #2C2C2C;

$bodyText: 'Chathura', sans-serif;
$headingText: 'Tulpen One', cursive;
$baseFontSize: 1rem;