html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  background-color: #FFF;
  color: #000;
  font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 125%;
}

body {
  font-family: "Chathura", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
  background-color: #111010;
  font-size: 30px;
  font-size: 1.5rem;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 261.4px;
  font-size: 13.07rem;
  letter-spacing: 2.4px;
  color: #FF8327;
  font-family: "Tulpen One", cursive;
}

h2 {
  font-size: 83.2px;
  font-size: 4.16rem;
  line-height: 94.7px;
  letter-spacing: normal;
  font-family: "Chathura", sans-serif;
}

h3 {
  font-size: 68px;
  font-size: 3.4rem;
  line-height: 58px;
  letter-spacing: 2.2px;
}

a {
  color: #FFFFFF;
}

h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.topNav,
.hostEvents {
  background-color: #111010;
}

.planLocationsContainer,
.hostEventsImgContainer {
  background-color: #220303;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

.button {
  background-color: #BF2603;
  padding: 5px 30px;
  font-family: "Tulpen One", cursive;
  letter-spacing: 2px;
  margin-bottom: 80px;
}

.topNav p,
.planLocationsContainer p,
.hostEvents p {
  margin-bottom: 20px;
  text-align: justify;
}

.contactTitle,
.blogTitle {
  font-family: "Chathura", sans-serif;
  font-size: 90px;
  font-size: 4.5rem;
  color: #FFFFFF;
}

.navBar {
  position: fixed;
  top: 0;
  background-color: transparent;
  z-index: 10;
  width: 100%;
}
.navBar .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Chathura", sans-serif;
  text-transform: uppercase;
  font-size: 38px;
  font-size: 1.9rem;
  letter-spacing: 1.9px;
}
.navBar .mainMenu .logo {
  font-family: "Tulpen One", cursive;
  font-size: 50px;
  font-size: 2.5rem;
  text-transform: none;
  letter-spacing: none;
}

header {
  background-image: url(../assets/home-image-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 80vh;
}
header .headerContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 350px;
}
header .headerContentContainer h1,
header .headerContentContainer h2 {
  z-index: 9;
}
header .headerContentContainer h2 {
  margin-top: -90px;
  margin-left: -230px;
}
header img {
  position: absolute;
  right: 0;
  bottom: -150px;
  max-height: 70vh;
}

footer {
  background-color: #2C2C2C;
  text-align: center;
  overflow: hidden;
}

.topNav {
  margin: 220px 0 100px 0;
}
.topNav .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.topNav .wrapper ul li {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}
.topNav .wrapper ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.topNav .wrapper ul li a i {
  position: absolute;
  left: -65px;
  background-color: #BF2603;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.planLocationsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.planLocationsContainer .newLocations img {
  -webkit-box-shadow: 20px 20px #FF8327;
          box-shadow: 20px 20px #FF8327;
  position: relative;
  top: -40px;
}
.planLocationsContainer .newLocations .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 45%;
}
.planLocationsContainer .planAhead {
  position: relative;
  margin-top: 80px;
}
.planLocationsContainer .planAhead img {
  -webkit-box-shadow: -20px 20px #FF8327;
          box-shadow: -20px 20px #FF8327;
  position: absolute;
  bottom: -50px;
  right: 0;
}
.planLocationsContainer .planAhead .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 45%;
}

.hostEvents {
  margin-top: 150px;
}
.hostEvents h3 {
  margin-bottom: 20px;
  color: #FF8327;
}
.hostEvents .hostPartyContainer {
  text-align: center;
  margin-bottom: 100px;
}
.hostEvents .fullBleedPic {
  width: 100%;
  margin-bottom: 100px;
}
.hostEvents .eventsContainer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.hostEvents .eventsContainer .wrapper .eventsImgContainer {
  width: 50%;
}
.hostEvents .eventsContainer .wrapper .eventsImgContainer img {
  width: 100%;
  -webkit-box-shadow: -20px 20px #FF8327;
          box-shadow: -20px 20px #FF8327;
}
.hostEvents .eventsContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 150px;
}
.hostEvents .eventsContentContainer h3 {
  margin-top: -15px;
}
.hostEvents .hostEventsImgContainer {
  padding: 70px 0 50px 0;
}
.hostEvents .hostEventsImgContainer .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hostEvents .hostEventsImgContainer .wrapper ul li {
  width: 30%;
}
.hostEvents .hostEventsImgContainer .wrapper ul li img {
  width: 100%;
}

.contactHeader {
  background-image: url(../assets/contact-header-1.jpg);
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
}
.contactHeader .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

address {
  font-style: normal;
}
address .socialBar {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  font-size: 1rem;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #220303;
  padding: 50px 50px 40px;
  -webkit-box-shadow: 20px 20px #FF8327;
          box-shadow: 20px 20px #FF8327;
  position: absolute;
  right: 150px;
  top: 500px;
  width: 50%;
}
.contactForm #name,
.contactForm #email {
  width: calc(50% - 30px);
  border-bottom: 2px solid #FFFFFF;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.contactForm #name {
  margin-right: 15px;
}
.contactForm #email {
  margin-left: 15px;
}
.contactForm #message,
.contactForm .button {
  width: calc(100% - 30px);
}
.contactForm #message {
  padding-left: 20px;
  padding-top: 40px;
  resize: none;
  margin-bottom: 50px;
  border: 2px solid #FFFFFF;
}
.contactForm .button {
  border: none;
  margin: 0;
  color: #FFFFFF;
}
.contactForm #name,
.contactForm #email,
.contactForm #message {
  background-color: transparent;
  color: #FFFFFF;
}
.contactForm #name::-webkit-input-placeholder, .contactForm #email::-webkit-input-placeholder, .contactForm #message::-webkit-input-placeholder {
  opacity: 1;
  font-family: "Chathura", sans-serif;
}
.contactForm #name::-moz-placeholder, .contactForm #email::-moz-placeholder, .contactForm #message::-moz-placeholder {
  opacity: 1;
  font-family: "Chathura", sans-serif;
}
.contactForm #name:-ms-input-placeholder, .contactForm #email:-ms-input-placeholder, .contactForm #message:-ms-input-placeholder {
  opacity: 1;
  font-family: "Chathura", sans-serif;
}
.contactForm #name::-ms-input-placeholder, .contactForm #email::-ms-input-placeholder, .contactForm #message::-ms-input-placeholder {
  opacity: 1;
  font-family: "Chathura", sans-serif;
}
.contactForm #name::placeholder,
.contactForm #email::placeholder,
.contactForm #message::placeholder {
  opacity: 1;
  font-family: "Chathura", sans-serif;
}

aside {
  position: relative;
  margin: 100px 0 250px;
}

.blogPage {
  margin-bottom: 2500px;
}

.blogHeader {
  background-image: url(../assets/blog-header-1.jpg);
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
}
.blogHeader .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogPost {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 550px;
  right: 0;
}
.blogPost .newMenuPic {
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: -20px 20px #FF8327;
          box-shadow: -20px 20px #FF8327;
}
.blogPost .blogPostContentContainer {
  border-left: 4px solid #FF8327;
  border-bottom: 4px solid #FF8327;
  position: relative;
  right: 20px;
  padding: 100px 40px 60px 100px;
}
.blogPost .blogPostContentContainer p {
  padding-bottom: 30px;
}
.blogPost .blogPostContentContainer p.date {
  line-height: 0;
  padding-top: 10px;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.comments h3 {
  margin: 50px 0 20px;
}
.comments li {
  position: relative;
  margin-left: 100px;
  margin-bottom: 80px;
}
.comments img {
  position: absolute;
  left: -100px;
  top: 10px;
  width: 10%;
}

.commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.commentForm #name,
.commentForm #email {
  width: calc(50% - 30px);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #FF8327;
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.commentForm #name {
  margin-right: 15px;
}
.commentForm #email {
  margin-left: 15px;
}
.commentForm #comment,
.commentForm .button {
  width: calc(100% - 30px);
}
.commentForm #comment {
  padding-left: 20px;
  padding-top: 40px;
  resize: none;
  margin-bottom: 50px;
  border: 2px solid #FF8327;
}
.commentForm .button {
  border: none;
  margin: 0 0 50px 0;
  color: #FFFFFF;
}
.commentForm #name,
.commentForm #email,
.commentForm #comment {
  background-color: transparent;
  color: #FFFFFF;
}
.commentForm #name::-webkit-input-placeholder, .commentForm #email::-webkit-input-placeholder, .commentForm #comment::-webkit-input-placeholder {
  opacity: 1;
  font-family: "Chathura", sans-serif;
}
.commentForm #name::-moz-placeholder, .commentForm #email::-moz-placeholder, .commentForm #comment::-moz-placeholder {
  opacity: 1;
  font-family: "Chathura", sans-serif;
}
.commentForm #name:-ms-input-placeholder, .commentForm #email:-ms-input-placeholder, .commentForm #comment:-ms-input-placeholder {
  opacity: 1;
  font-family: "Chathura", sans-serif;
}
.commentForm #name::-ms-input-placeholder, .commentForm #email::-ms-input-placeholder, .commentForm #comment::-ms-input-placeholder {
  opacity: 1;
  font-family: "Chathura", sans-serif;
}
.commentForm #name::placeholder,
.commentForm #email::placeholder,
.commentForm #comment::placeholder {
  opacity: 1;
  font-family: "Chathura", sans-serif;
}

.date {
  color: #FF8327;
}

.blogAside {
  width: 40%;
  position: relative;
}
.blogAside img {
  z-index: 10;
}
.blogAside .bkgBox {
  width: 400px;
  height: 830px;
  background-color: #220303;
  position: absolute;
  top: 15px;
  left: 70px;
  z-index: -1;
}
.blogAside .bkgBox .asideContentContainer {
  margin-top: 440px;
}
.blogAside .bkgBox .asideContentContainer .findOutMore {
  color: #FF8327;
  display: inline-block;
  margin-bottom: 20px;
}
.blogAside .recentPosts li {
  margin: 0 0 0 40px;
  list-style: disc;
  color: #BF2603;
}
.blogAside .recentPosts li p {
  color: #FFFFFF;
}